* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-bar {
  padding: 15px;
  background-color: #2D89E6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.top-bar .header-text {
  margin: 0%;
}

body {
  margin: 0px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  background-color: rgba(185, 179, 179, 0.295);
  width: 100%;
  margin-right: 50px;
  height: 550px;
  overflow: auto;
  scroll-behavior: smooth;
}

.left {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C3C3C3;
  border-radius: 15px;
  margin: 30px 30px 0px 100px;
}

.left form {
  width: 100%;
}

.add-text {
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-item {
  padding: 10px;
  border: 1px solid #C3C3C3;
  border-radius: 10px;
  width: 250px;
  margin: 5px 20px;
}

.biography {
  height: 100px;
}

.index {
  width: 50px;
}

.save-btn {
  background-color: #2D89E6;
  border: none;
  height: 100%;
  width: 100%;
}

.save {
  padding: 20px;
  background-color: #2D89E6;
  border-radius: 0px  0px 15px 15px;
}

.save .save-btn {
  color: white;
  font-weight: bold;
}

.bottom-option {
  margin: 5px 20px 40px 20px;
}

select {
  color: #757575;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.top-menu .filters, .top-menu .items-number {
  background-color: #2D89E6;
  padding: 10px;
}

.top-menu .filters {
  padding-right: 112px;
  padding-left: 40px;
  border-radius: 0 50px 50px 0;
}

.top-menu .items-number {
  padding-left: 50px;
  border-radius: 50px 0 0 50px;
}

.top-menu label, .top-menu .items-number {
  color: white;
}

.top-menu select, .top-menu input {
  margin: 0 5px;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 20px;
}

.item .info * {
  margin: 5px;
}

.item .info p {
  color: #7e7a7a;
}

.item .info a {
  text-decoration: none;
  color: #0d56aa;
}

.item .delete {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 15px;
  background-color: red;
  border-radius: 500px;
  color: white;
  margin: 7px;
}
/*# sourceMappingURL=style.css.map */